
/*https://hg.openjdk.java.net/openjfx/8u40/rt/file/6cc08ec1ea82/modules/controls/src/main/resources/com/sun/javafx/scene/control/skin/modena/modena.css*/
.root {
    -fx-base: rgb(17, 17, 17);
    -fx-control-inner-background: #4f4f4f;
}

/* https://stackoverflow.com/questions/28417140/styling-default-javafx-dialogs/28421229#28421229 */
.dialog-pane{
    -fx-background-color: #202020;
}

.dialog-pane > .content.label {
    -fx-text-fill: #d3d3d3;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 10;
}

.dialog-pane .button {
    -fx-cursor: hand;
}

.table-view .table-cell{
    -fx-border-color: #4a4a4a;
}