
.list-view {
    -fx-min-width: 40;
    -fx-font-size: 14;
}

.label {
    -fx-font-size: 14;
}

#inputArea {
    -fx-font-size: 14;
}

#gridPane {
    -fx-padding: 0 10 10 10;
}

#colWithListView {
    -fx-padding: 10 0 0 0;
}

#tableLabel {
    -fx-font-size: 16;
    -fx-padding: 8 0 0 0;
    -fx-pref-height: 20px;
}

.table-view .table-cell {
    -fx-font-size: 14px;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-padding: 0;
}

#colWithSecondListView {
    -fx-padding: 10 0 5 0;
}


.button {
    -fx-padding: 0;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-pref-width: 45px;
    -fx-background-size: 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-size: 14;
    -fx-cursor: hand;
}

#enableFileListButton {
    -fx-min-height: 230;
    -fx-min-width: 17;
    -fx-pref-width: 17;
    -fx-font-size: 16;
}

.tooltip {
    -fx-show-delay: 300ms;
}