
.list-view {
    -fx-min-width: 40;
    -fx-font-size: 14;
}

.label {
    -fx-font-size: 14;
}

#inputArea {
    -fx-font-size: 14;
}

#gridPane{
    -fx-padding: 0 10 10 10;
}

#colWithListView{
    -fx-padding: 10 0 0 0;
}

#secondList {
    -fx-font-size: 16;
    -fx-padding: 0;
    -fx-pref-height: 20px;
}

.table-view .table-cell {
    -fx-font-size: 14px;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-padding: 0;
}

#colWithSecondListView{
    -fx-padding: 10 0 5 0;
}

#selectRootButton {
    -fx-background-image: url('icon/dir.png');
}

#searchButton {
    -fx-background-image: url('icon/search.png');
}

#selectSingleFileButton {
    -fx-background-image: url('icon/file.png');
}

#createFileButton {
    -fx-background-image: url('icon/create.png');
}

.button {
    -fx-padding: 0;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-pref-width: 45px;
    -fx-background-size: 35px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-size: 14;
    -fx-cursor: hand;
}

#insertButton {
    -fx-background-image: url('icon/insert2.png');
}

#selectEntry {
    -fx-background-image: url('icon/edit2.png');
}

#selectFile {
    -fx-background-image: url('icon/arrow_r.png');
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-pref-width: 45px;
    -fx-background-size: 30px;
    -fx-padding: 5;
}

#deleteEntry {
    -fx-background-image: url('icon/delete.png');
}


#openInBrowser {
    -fx-background-image: url('icon/browse.png');
}

#replaceValueClosures {
    -fx-background-image: url('icon/replace.png');
}

.tooltip {
    -fx-show-delay: 300ms;
}